<!DOCTYPE html>
<html>
<head>
	<title> signup</title>

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
	<br><br>
	
         
         <div  class="jumbotron">
         <h1> <center> Bio-Data Register</center> </h1>
         </div>


		
		<center>
		<!--  class="upload" id="upload_form" enctype="multipart/form-data" method="post" action="http://localhost:3001/upload/1234567890"  -->
            <form action="/index" method="post">
            
            <div class="form-group">
			<label> <b>Firstname</b> </label><br>
			<input type="text"  name="firstName" >
			<br>
			</div>

			
            

            <div class="form-group">
			<label> <b>Lastname</b> </label> <br>
			<input type="text" name="lastName" >
			<br>
			</div>

            <div class="form-group">
			<label><b> Age</b> </label> <br>
			<input type="text" name="age" >
			<br>
			</div>
			
			
            
            <div class="form-group">
			<label> <b>Height</b> </label><br>
			<input type="text" name="height" >
			<br>
			</div>
			

            <div class="form-group">
			<label> <b>Weight </b> </label><br>
			<input type="text" name="weight">
			<br>
			</div>
			

            <div class="form-group">
			<label> <b>Sex </b> </label><br>
			<input type="text" name="sex" >
			<br><br>
			</div> 


          

            <div class="form-group">
			<input type="submit" name="submitButton" type="button" class="btn btn-default">
			<!-- <input type="submit" id="resetButton" value = "Reset" type="button" class="btn btn-default"> -->
			</div>

			</form>
			</center>

	

</body>
</html>
